
/api/.venv
/api/__pycache__
/api/libs/__pycache__
/api/db/__pycache__
/api/.venv/Lib/site-packages/__pycache__
/api/.venv
/api/services/__pycache__
/api/routes/__pycache__
/api/models/__pycache__
/api/libs/__pycache__
/api/utils/__pycache__
/api/dbs/__pycache__
/api/configs/__pycache__
/api/__pycache__
.env
/api/api.log
/api/help.txt
