
/api/.venv
/api/__pycache__
/api/libs/__pycache__
/api/db/__pycache__
/app/.venv/Lib/site-packages/__pycache__
/app/.venv
/api
/app/services/__pycache__
/app/routes/__pycache__
/app/models/__pycache__
/app/libs/__pycache__
/app/utils/__pycache__
/app/dbs/__pycache__
/app/configs/__pycache__
/app/__pycache__
.env
app/api.log
app/help.txt
